*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: montserrat;
}

nav{
    background: rgb(178, 178, 178);
    height: 80px;
    width: 100%;
}
.Logo {
    float:left;
    margin: -10px;
    width: 100px;
    height:100px;
}

label.logo{
    color:white;
    font-size:50px;
    line-height: 75px;
    font-weight: bold;
    
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color:white;
    font-size: 17px;
    padding:7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background-color: #919191;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right:40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media(max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media(max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin:  50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color:rgb(197, 197, 197);
    }
    #check:checked ~ ul{
        left:0;
    }
}


li{
    list-style-type: none;
}

body {
    background-color: #384047;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

canvas {
    background-color: white;
    border-radius: 10px;
}

main {
    margin-left:30%;
    margin-top: 130px;
    display:grid;
    grid-template-columns: 40px 600px;
    column-gap: 10px;
}

button {
    width: 40px;
    height:40px;
    margin-bottom: 10px;
    font-size:0;
    border:2px solid transparent;
    border-radius: 5px;
}

button.red{
    background-color: red;
}

button.blue{
    background-color: blue;
}

button.green{
    background-color: green;
}

button.black{
    background-color: black;
}

button.selected{
    border: 2px solid white;
}

button.control-btn{
    font-size:20px;
}

button.control-btn.selected{
    color:blue;
}

