.Logo {
    float:left;
    margin: -10px;
    width: 100px;
    height:100px;
}

body{
    font-family: montserrat;
}

nav{
    background: rgb(178, 178, 178);
    height: 80px;
    width: 100%;
}

label.logo{
    color:white;
    font-size:50px;
    line-height: 75px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color:white;
    font-size: 17px;
    padding:7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background-color: #919191;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right:40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media(max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media(max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top:80px;
        left:-100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin:  50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        color:rgb(197, 197, 197);
    }
    #check:checked ~ ul{
        left:0;
    }
}

.ball {
    float: left;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 28px;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-weight: 500;
    text-shadow: 0px 0px 3px rgba(73, 57, 0, .8);
    margin-right: 6px;
}

.ball1{
    background: #fbc400;
}
.ball2{
    background: #00fbf3;
}
.ball3{
    background: #0011fb;
}
.ball4{
    background: #fb009b;
}
.ball5{
    background: #00fb97;
}
.ball6{
    background: #fb3b00;
}